body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 38px;
    text-transform: capitalize;
    color: #575757;
}

p {
    color: #828282;
    font-size: 25px;
}

span {
    color: #FB8C47;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.col-width-half {
    width: 50%;
}

.secondary-text {
    width: 75%;
    padding: 10px 0;
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: 500;
}

#banner-img img {
    width: 90%;
    padding-left: 3%;
    padding-top: 5%;
}

#banner-text {
    padding-top: 12%;
    padding-left: 5%;
}

.button {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #FC8F49, #FD5231);
    padding:  22px 33px;
    border-radius: 30px;
}
