body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 38px;
    text-transform: capitalize;
    color: #575757;
}

.para-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #575757;
}

span {
    color: #FB8C47;
}

.flex-container {
    display: flex;
    margin-bottom: 120px;
}

.col-width-half {
    width: 50%;
}

.secondary-text {
    width: 75%;
    padding: 10px 0;
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #828282;
    font-size: 25px;
}

#banner-img img {
    width: 90%;
    padding-left: 3%;
    padding-top: 5%;
}

#banner-text {
    padding-top: 12%;
    padding-left: 5%;
}

.button {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #FC8F49, #FD5231);
    padding:  22px 40px;
    border-radius: 30px;
}

#about-section {
    background-image: url(images/shapes/7.png);
    background-repeat: round;
}

#about-section img {
    width: 40%;
    padding-top: 5%;
    padding-left: 25%;
}

#about-section h2 {
    color: #828282;
    font-size: 50px;
    padding: 70px 0 0px;
    margin: 40px 0 5px;
    font-weight: 600;
}

#about-text {
    width: 70%;
    padding: 30px 0;
    margin-bottom: 40px;
}

#recipe-section h2 {
    color: #575757;
    font-size: 50px;
    padding: 20px 0 10px;
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.recipe-text-container {
    margin: 0 auto;
    width: 800px;
}

.recipe-text-container p {
    text-align: center;
    padding: 30px 0;
}

.centered {
    margin: 20px 50px;
    padding: 2% 10%;
    justify-content: center;
}

.col-one-third {
    width: 33%;
    border-radius: 25px;
    margin: 0 25px;
    box-shadow: 5px 5px 30px 5px #e2e2e2;
    padding: 20px 20px;
}

.col-one-third img {
    width: 100%;
}

.col-one-third h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 40px 0 15px;
}

.col-one-third p {
    padding-top: 10px;
}

.number-box-shadow {
    max-width: 68.5%;
    padding: 2%;
    margin: 5% auto;
    border-radius: 25px;
    box-shadow: 5px 5px 30px 5px #e2e2e2;
}

.numbers {
    width: 100%;
    text-align: center;
}

.numbers h2 {
    font-size: 50px;
    margin-bottom: 0;
}



footer {
    margin-top: 2%;
    padding: 1% 0 5%;
    text-align: center;
    background: #000;
}

footer h3 {
    font-size: 40px;
    font-weight: 600;
    color: #575757;
}

footer p {
    color: #FFFFFF;
    font-size: 18px;
}
